[submodule "lib/Arduino-EEPROMEx"]
	path = lib/EEPROMEx/
	url = https://github.com/thijse/Arduino-EEPROMEx.git
[submodule "lib/SdFat"]
	path = lib/SdFat
	url = https://github.com/greiman/SdFat.git
[submodule "lib/DirectIO"]
	path = lib/DirectIO
	url = https://github.com/mmarchetti/DirectIO.git
[submodule "lib/PinChangeInterrupt"]
	path = lib/PinChangeInterrupt
	url = https://github.com/NicoHood/PinChangeInterrupt.git
